body{
    background-color: beige;
}
.form1{
    background-color: wheat;color: brown;width: 50%;border-radius: 5px 5px 5px;box-shadow: 10px 10px 10px;
}
.form2{
    font-size: 20px;text-align: left;padding: 20px;
}
#fname{
    display:inline-block;
}
#lname{
    display:inline-block;
}
